*{
    box-sizing: border-box;
}
/* reset CSS */
body, h1, h2, h3, h4{

    margin : 0;
}

body{
    background: silver;
}

/* Structure de page */
#page{
    background: floralwhite;
    margin : 0 auto;
    padding:  15px;
    width: 960px;
}
#header{
    background: dimgrey;
    height: 120px;
    margin: 0 auto;
    padding-top: 20px;
    width: 960px;
}
#logo{
    background: wheat;
    text-align: center;
}

div#allIdeas{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.anIdea{
    border: 1px solid cadetblue;
    max-width: 250px;
    width: 250px;
    padding: 10px 15px;
    margin: 10px auto;
}
